<p-menubar [model]="items" />

<h2>Cadastro de Veiculo</h2>

<p-floatlabel>
  <input id="modelo" pInputText [(ngModel)]="modelo" />
  <label for="modelo">Modelo do Veiculo</label>
</p-floatlabel>
<br>

<p-dropdown
  [options]="tipos"
  [(ngModel)]="tipo"
  optionLabel="label"
  optionValue="value"
  placeholder="Selecione o tipo">
</p-dropdown>
<br><br>

<p-button label="Salvar" (click)="salvarVeiculo()" />
<br><br>

<p-table [value]="listaVeiculos" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
    <tr>
      <th>Id</th>
      <th>Modelo</th>
      <th>Tipo</th>
      <th>Disponibilidade</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template #body let-veiculo>
    <tr>
      <td>{{ veiculo.id }}</td>
      <td>{{ veiculo.modelo }}</td>
      <td>{{ veiculo.tipo }}</td>
      <td>{{ veiculo.disponivel ? 'Disponível' : 'Indisponível' }}</td>
      <td>
        <button pButton
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success"
                (click)="editarVeiculo(veiculo)">
        </button>
        <button pButton
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger"
                style="margin-left: 0.5em"
                (click)="deletarVeiculo(veiculo.id)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

